Examples/sqlite/data/*
!Examples/sqlite/data/empty.txt
Examples/sqlite/upload/*
!Examples/sqlite/upload/empty.txt
Examples/sqlite/LocalSettings.php

Examples/mariadb/data/*
!Examples/mariadb/data/empty.txt
Examples/mariadb/upload/*
!Examples/mariadb/upload/empty.txt
Examples/mariadb/LocalSettings.php

Examples/postgres/postgres-data/*
!Examples/postgres/postgres-data/empty.txt
Examples/postgres/pgadmin-data/*
!Examples/postgres/pgadmin-data/empty.txt
Examples/postgres/upload/*
!Examples/postgres/upload/empty.txt
Examples/postgres/LocalSettings.php